/* Smaller than 1200px */
@media (max-width: 75em) {
  .projects-grid {
    column-gap: 6.4rem;
  }
}

/* Smaller than 1008px */
@media (max-width: 63em) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-secondary {
    font-size: 5.6rem;
  }
  .normal-text-md {
    width: 100%;
  }
}

/* Smaller than 704px */
@media (max-width: 44em) {
  .heading-primary {
    font-size: 3.6rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    row-gap: 9.6rem;
  }
  .normal-text-md {
    font-size: 2rem;
  }
  .container {
    padding: 0 8.4rem;
  }
}

/* Smaller than 496px */
@media (max-width: 31em) {
  .container {
    padding: 0 3.6rem;
  }
  html {
    font-size: 50%;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  .heading-secondary {
    font-size: 2.4rem;
  }
}
