* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #555;
}

.container {
  padding: 0 3.6rem;
  max-width: 120rem;
  margin: 0 auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.heading-primary {
  font-size: 6.4rem;
  line-height: 1.1;
}

.heading-secondary {
  font-size: 6.4rem;
  line-height: 1.1;
}

.normal-text-md {
  font-size: 2.4rem;
  width: 60%;
  line-height: 1.6;
}

/* Header Section */

.section-header {
  padding: 9.6rem 0;
}

.section-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header .heading-primary {
  margin-bottom: 4.8rem;
}

/* Section projects */
.section-projects {
  padding: 9.6rem 0;
}

.section-projects .heading-secondary {
  margin-bottom: 6.4rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9.6rem;
  row-gap: 6.4rem;
}

.project-item {
  border-radius: 12px;
  transition: all 0.3s;
  box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.07);
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2.4rem 0 rgba(0, 0, 0, 0.07);
}

.project-img-box {
  padding-top: 50%;
  position: relative;
  display: flex;
  /* border-bottom: 1px solid #e5e7eb; */
  background-color: #f9fafb;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  overflow: hidden;
}

.project-img-box img {
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.project-desc-box {
  padding: 3.6rem;
}

.project-tags {
  margin-bottom: 1.2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.project-tags span {
  font-size: 1.2rem;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.tag--html {
  background-color: #fff7ed;
  color: #7c2d12;
}

.tag--css {
  background-color: #eff6ff;
  color: #1e3a8a;
}

.tag--js {
  background-color: #fefce8;
  color: #713f12;
}

.tag--python {
  background-color: #f0fdf4;
  color: #14532d;
}

.tag--ml {
  background-color: #f9fafb;
  color: #111827;
}

.project-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.project-desc {
  font-size: 1.6rem;
  line-height: 1.6;
}
