---
import { getCollection } from 'astro:content';

import ButtonOutline from '../../ui/Button.astro';
import ProjectCard from '../../features/projects/ProjectCard.astro';

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.score - a.data.score)
  .slice(0, 6);
---

<section id='projects' class='py-24'>
  <div class='flex justify-between items-start'>
    <div>
      <h2 class='heading-secondary mb-2'>Projects</h2>
      <p class='text-body text-gray-600 mb-6'>
        These are some of the projects I am proud of.
      </p>
    </div>
    <div class='hidden md:block'>
      <ButtonOutline text='All Projects' href='/projects' />
    </div>
  </div>

  <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-2'>
    {projects.map((project: any) => <ProjectCard project={project} />)}
  </div>

  <div class='flex px-2 mt-8 md:hidden'>
    <ButtonOutline text='All Projects' href='/projects' stretch={true} />
  </div>
</section>
