---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import readingTime from 'reading-time';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  // console.log(blogEntries);

  return blogEntries.map((entry) => {
    // console.log(entry);
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const { data } = entry;
// console.log(data);
const { title, created_at, updated_at } = data;
const readingTimeMinutes = Math.ceil(readingTime(entry.body).minutes);
---

<Layout title={title}>
  <article class='py-12 max-w-screen-lg mx-auto'>
    <header>
      <div class='flex justify-between'>
        <h2 class='text-3xl capitalize'>1000 Hours into programming</h2>
        <span>{readingTimeMinutes} mins</span>
      </div>
      <div>TIME</div>
    </header>
    <main>
      <Content />
    </main>
  </article>
</Layout>
