---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../features/blog/BlogPost.astro';

const blogPosts = (await getCollection('blog')).filter(
  (post) => post.data.publish
);
---

<Layout title='Welcome to my blog'>
  <section class='py-12 flex flex-col gap-6 max-w-screen-lg mx-auto'>
    {blogPosts.map((post) => <BlogPost client:load post={post} />)}
  </section>
</Layout>
