---
// source:  https://github.com/alexandresanlim/Badges4-README.md-Profile?tab=readme-ov-file
const badgesData = {
  // Machine learning
  jupyter: {
    image:
      "https://img.shields.io/badge/Jupyter-F37626.svg?&style=for-the-badge&logo=Jupyter&logoColor=white",
  },
  numpy: {
    image:
      "https://img.shields.io/badge/Numpy-777BB4?style=for-the-badge&logo=numpy&logoColor=white",
  },
  pandas: {
    image:
      "https://img.shields.io/badge/Pandas-2C2D72?style=for-the-badge&logo=pandas&logoColor=white",
  },
  plotly: {
    image:
      "https://img.shields.io/badge/Plotly-239120?style=for-the-badge&logo=plotly&logoColor=white",
  },
  sklearn: {
    image:
      "https://img.shields.io/badge/scikit_learn-F7931E?style=for-the-badge&logo=scikit-learn&logoColor=white",
  },
  keras: {
    image:
      "https://img.shields.io/badge/Keras-FF0000?style=for-the-badge&logo=keras&logoColor=white",
  },
  pytorch: {
    image:
      "https://img.shields.io/badge/PyTorch-EE4C2C?style=for-the-badge&logo=pytorch&logoColor=white",
  },
  opencv: {
    image:
      "https://img.shields.io/badge/OpenCV-27338e?style=for-the-badge&logo=OpenCV&logoColor=white",
  },
  tensorflow: {
    image:
      "https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white",
  },

  // Frontend
  html: {
    image:
      "https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white",
  },
  htmx: {
    image:
      "https://img.shields.io/badge/%3C/%3E%20htmx-3D72D7?style=for-the-badge&logo=mysl&logoColor=white",
  },
  css: {
    image:
      "https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white",
  },
  sass: {
    image:
      "https://img.shields.io/badge/Sass-CC6699?style=for-the-badge&logo=sass&logoColor=white",
  },
  astro: {
    image:
      "https://img.shields.io/badge/Astro-0C1222?style=for-the-badge&logo=astro&logoColor=FDFDFE",
  },
  bootstrap: {
    image:
      "https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white",
  },
  tailwind: {
    image:
      "https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white",
  },
  postcss: {
    image:
      "https://img.shields.io/badge/postcss-DD3A0A?style=for-the-badge&logo=postcss&logoColor=white",
  },
  react: {
    image:
      "https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB",
  },
  threejs: {
    image:
      "https://img.shields.io/badge/ThreeJs-black?style=for-the-badge&logo=three.js&logoColor=white",
  },
  wasm: {
    image:
      "https://img.shields.io/badge/WebAssembly-654FF0?style=for-the-badge&logo=WebAssembly&logoColor=white",
  },
  redux: {
    image:
      "https://img.shields.io/badge/Redux-593D88?style=for-the-badge&logo=redux&logoColor=white",
  },

  // Backend
  postgresql: {
    image:
      "https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white",
  },
  mongodb: {
    image:
      "https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white",
  },
  mysql: {
    image:
      "https://img.shields.io/badge/MySQL-005C84?style=for-the-badge&logo=mysql&logoColor=white",
  },
  redis: {
    image:
      "https://img.shields.io/badge/redis-%23DD0031.svg?&style=for-the-badge&logo=redis&logoColor=white",
  },
  django: {
    image:
      "https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=green",
  },
  djangoRest: {
    image:
      "https://img.shields.io/badge/django%20rest-ff1709?style=for-the-badge&logo=django&logoColor=white",
  },
  fastapi: {
    image:
      "https://img.shields.io/badge/fastapi-109989?style=for-the-badge&logo=FASTAPI&logoColor=white",
  },
  nextjs: {
    image:
      "https://img.shields.io/badge/next%20js-000000?style=for-the-badge&logo=nextdotjs&logoColor=white",
  },
  nodejs: {
    image:
      "https://img.shields.io/badge/Node%20js-339933?style=for-the-badge&logo=nodedotjs&logoColor=white",
  },
  wordpress: {
    image:
      "https://img.shields.io/badge/Wordpress-21759B?style=for-the-badge&logo=wordpress&logoColor=white",
  },

  // Devops
  docker: {
    image:
      "https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&logo=docker&logoColor=white",
  },

  // Tools
  git: {
    image:
      "https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white",
  },
  figma: {
    image:
      "https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&logo=figma&logoColor=white",
  },
  selenium: {
    image:
      "https://img.shields.io/badge/Selenium-43B02A?style=for-the-badge&logo=Selenium&logoColor=white",
  },
  vite: {
    image:
      "https://img.shields.io/badge/Vite-B73BFE?style=for-the-badge&logo=vite&logoColor=FFD62E",
  },
  webpack: {
    image:
      "https://img.shields.io/badge/Webpack-8DD6F9?style=for-the-badge&logo=Webpack&logoColor=white",
  },

  // Languages
  c: {
    image:
      "https://img.shields.io/badge/C-00599C?style=for-the-badge&logo=c&logoColor=white",
  },
  cpp: {
    image:
      "https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white",
  },
  rust: {
    image:
      "https://img.shields.io/badge/Rust-000000?style=for-the-badge&logo=rust&logoColor=white",
  },
  go: {
    image:
      "https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white",
  },
  python: {
    image:
      "https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue",
  },
  javascript: {
    image:
      "https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E",
  },
  typescript: {
    image:
      "https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white",
  },
  php: {
    image:
      "https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white",
  },

  // OS
  linux: {
    image:
      "https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black",
  },
  arch: {
    image:
      "https://img.shields.io/badge/Arch_Linux-1793D1?style=for-the-badge&logo=arch-linux&logoColor=white",
  },

  //Socials & Contact
  githubDark: {
    image:
      "https://img.shields.io/badge/GitHub-ffffff?style=for-the-badge&logo=github&logoColor=black",
  },
  githubLight: {
    image:
      "https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white",
  },
  kagge: {
    image:
      "https://img.shields.io/badge/Kaggle-20BEFF?style=for-the-badge&logo=Kaggle&logoColor=white",
  },
  leetcode: {
    image:
      "https://img.shields.io/badge/-LeetCode-FFA116?style=for-the-badge&logo=LeetCode&logoColor=black",
  },
  linkedin: {
    image:
      "https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white",
  },
  strava: {
    image:
      "https://img.shields.io/badge/Strava-FC4C02?style=for-the-badge&logo=strava&logoColor=white",
  },
  telegram: {
    image:
      "https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white",
  },
  gmail: {
    image:
      "https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white",
  },
};

const { name } = Astro.props;
if (!badgesData[name]) {
  console.error(`${name} not in badges`);
}
---

<div>
  <img src={badgesData[name].image} alt={`badge ${name}`} />
</div>
