---
import ProjectCard from './ProjectCard.astro';

const { projects } = Astro.props;
---

<div class='grid md:grid-cols-2 lg:grid-cols-3 gap-2'>
  {projects.map((project: any) => <ProjectCard project={project} />)}
</div>
