---
// console.log(Astro.props);
const { post } = Astro.props;
console.log(post);
const { data } = post;

const { title, created_at, summary } = data;

const link = `${post.collection}/${post.slug}`;
---

<article class='flex flex-col'>
  <header>
    <div class='flex justify-between'>
      <h2 class='text-3xl capitalize'>TITLE</h2>
      <span>READ TIME</span>
    </div>
    <div>TIME</div>
  </header>
  <div>
    <p>Summary</p>
  </div>
  <!-- <div class='flex justify-end'><Button /></div> -->
</article>
