---
import Badge from "./Badge.astro";
import ButtonText from "./ButtonText.astro";

const socials = [
    { name: "github", href: "https://github.com/mostafaei2002" },
    { name: "gmail", href: "mailto:sinamostafaei2002@gmail.com" },
];
---

<footer class="py-24 bg-gray-800 text-white">
    <div class="container mx-auto px-2 md:px-4 lg:px-8">
        <div class="grid md:grid-cols-3 gap-2">
            <div>Mostafaei2002 - A passionate programmer</div>
            <div class="flex flex-col items-center text-center gap-2">
                <nav>
                    <h5 class="text-lead mb-4">Links</h5>
                    <ul class="flex flex-col gap-2">
                        <li><ButtonText href="/#">Home</ButtonText></li>
                        <li>
                            <ButtonText href="#projects">Projects</ButtonText>
                        </li>
                        <li><ButtonText href="#skills">Skills</ButtonText></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h5 class="text-lead mb-2">Get In Touch</h5>
                <div class="flex flex-wrap gap-2">
                    {
                        socials.map((social) => (
                            <Badge name={social.name} href={social.href} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</footer>
