<section id="hero" class="py-24">
    <div class="container mx-auto px-2 md:px-4 lg:px-8">
        <div class="grid md:grid-cols-2">
            <div class="flex items-center justify-center">
                <div class="w-48 h-48 bg-slate-400"></div>
            </div>
            <div class="flex flex-col justify-center">
                <h1 class="heading-primary text-gray-800 mb-4">
                    A Passionate Programmer
                </h1>
                <p class="text-lead text-gray-700 max-w-xl">
                    I am passionate about programming, software, machine
                    learning, web development & more. I've always been
                    fascinated with computeres and I've finally decided to learn
                    more about them. Every day I strive to learn something new
                    understand more about computers and how they work.
                </p>
            </div>
        </div>
    </div>
</section>
