<section id="hero" class="py-44">
    <div class="container mx-auto px-2 md:px-4 lg:px-8">
        <div class="grid md:grid-cols-2">
            <div class="flex items-center justify-center">
                <div class="w-72 h-72 bg-slate-400 rounded-full"></div>
            </div>
            <div class="flex flex-col justify-center">
                <h1 class="heading-primary mb-4">A Passionate Programmer</h1>
                <p class="text-lead max-w-xl">
                    I love computers. I've always been interested in computers
                    and I love learning more about them and working with them. I
                    am intersted in a lot of different fields including Web
                    Development, Machine Learning, Low Level Programming,
                    Mathematics and more. Every day I strive to learn.
                </p>
            </div>
        </div>
    </div>
</section>
