---
import ButtonText from "./ButtonText.astro";
---

<header class="shadow">
    <div class="container mx-auto flex justify-between items-center pt-3 pb-4">
        <div>
            <a href="/" class="btn-text">Mostafaei2002</a>
        </div>
        <nav>
            <ul class="flex gap-2">
                <li><ButtonText href="/#">Home</ButtonText></li>
                <li><ButtonText href="#projects">Projects</ButtonText></li>
                <li><ButtonText href="#skills">Skills</ButtonText></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .btn--text {
        @apply px-6 py-2 block;
    }
</style>
