<div class="flex justify-between">
    <div>
        <span>mostafaei2002</span>
    </div>
    <nav>
        <ul class="flex">
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
        </ul>
    </nav>
</div>
