---
import ProjectCard from "./ProjectCard.astro";
import ButtonOutline from "./ButtonOutline.astro";

const { limit, projects } = Astro.props;
const currentPath = Astro.url.pathname;
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
    {projects.map((project: any) => <ProjectCard project={project} />)}
</div>
