---
import ProjectCard from "./ProjectCard.astro";

const { limit, projects } = Astro.props;
---

<section id="#Projects" class="py-24">
    <div class="container mx-auto px-2 md:px-4 lg:px-8">
        <h2 class="heading-secondary mb-2">My Projects</h2>
        <p class="text-body text-gray-600 mb-6">
            These are some of the projects I am proud of.
        </p>

        <div class="grid md:grid-cols-3 gap-2">
            {projects.map((project: any) => <ProjectCard project={project} />)}
        </div>
    </div>
</section>
