---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import ProjectsGrid from "../../components/ProjectsGrid.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
    const allProjects = (await getCollection("projects")).filter(
        (project) => project.data.publish
    );
    // Generate pages from our array of astronauts, with 2 to a page
    return paginate(allProjects, { pageSize: 12 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
console.log(page);
---

<Layout title="Projects">
    <section class="py-24">
        <div class="container mx-auto px-2 md:px-4 lg:px-8">
            <div class="mb-8">
                <h1 class="heading-primary">Projects</h1>
                <p class="text-gray-600">
                    Here you can see most of my projects.
                </p>
            </div>
            <ProjectsGrid projects={page.data} />
        </div>
    </section>
    {page.lastPage > 1 && <Pagination page={page} />}
    <!-- Placeholder -->
</Layout>
