---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import ProjectsGrid from '../../features/projects/ProjectsGrid.astro';

const allProjects = (await getCollection('projects'))
  .filter((project) => project.data.publish)
  .sort((a, b) => b.data.score - a.data.score);
---

<Layout title='Projects'>
  <section class='py-24'>
    <div class='mb-8'>
      <h1 class='heading-primary'>Projects</h1>
      <p class='text-gray-600'>Here you can see most of my projects.</p>
    </div>
    <ProjectsGrid projects={allProjects} />
  </section>
  <!-- Placeholder -->
</Layout>
