---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>mostafaei2002 - {title}</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    .display-large {
        @apply text-6xl leading-[64px];
    }

    .display-medium {
        @apply text-5xl leading-[52px];
    }

    .heading-primary {
        @apply text-4xl leading-10;
    }

    .heading-secondary {
        @apply text-3xl leading-9;
    }

    .heading-tertiary {
        @apply text-2xl leading-8;
    }

    .text-lead {
        @apply text-xl leading-6 tracking-[0.5px];
    }

    .text-body {
        @apply text-base leading-5 tracking-[0.25px];
    }
</style>
